<div class="mt-4">
    <a href="/", style="font-size: 25px;" >Quay lại</a>
    <div class="row">
        <div class="col-lg-9">
            <h2>Họ và tên: {{course.name}}</h2>
            <p>Số điện thoại: {{course.phone}}</p>
            <p>Địa chỉ: {{course.address}}</p>
            <p>Giới tính: {{course.gender}}</p>
            <p>Gmail: {{course.gmail}}</p>
            <p>Ngày tạo: {{course.createdAt}}</p>
        </div>

    </div>
</div>